#container {
  background-color: #fff;
  width: 100%;
  margin: 6px auto;
  padding: 2px;
  text-align: center;
}

#container img {
  width: 65%;
  border-radius: 30px;
  padding: 8px;
  display: inline !important;
  margin: 5px auto;
}

#row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
